<div style="font-size: 100px; text-align: center; color: white">CONTACT US</div>
<div style="background: white; padding: 50px 150px 50px 150px; height: 750px">
	<img src="../assets/contact_us.jpg" style="width: 950px; height: 500px">
	<div style="background: white; width: 450px; padding: 20px; margin-left: 450px; margin-top: -250px; position: absolute; z-index: 1;">
		<p style="font-size: 20px"><strong>CONTACT US</strong></p>
		<p>Have questions ?</p>
		<p>They might be answered in our FAQ.<br>
		We tried to cover just about everything you need to know.</p>
		<p>You can also email us at: info@mysite.com<br>
		or fill in our contact form:</p>

		<input type="text" name="name" placeholder="Name*"><br>
		<input type="email" name="email" placeholder="Email*"><br>
		<input type="text" name="subject" placeholder="Subject*">
	</div>
</div>
