<!-- constructor(public prodId: number, public group: string, public itemName: string, public prize: number, public imagePath: string, public hoverImagePath: string, public color: string, public size: number, public sale: string){}
 -->
<form (ngSubmit)="onSubmit()" [formGroup]="shoeForm">
	<div>
		<button class="btn btn-primary" type="submit" (click)="onAdd()">Save</button> &nbsp; 
		<button class="btn btn-success" type="button" *ngIf="update">Update</button> &nbsp; 
		<button class="btn btn-danger" type="button">Delete</button> &nbsp;
		<button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
	</div>
	<label for="id">Product Id : </label>
	<input style="" type="number" formControlName="id" id="id"><br>
	<label for="name">Product Name : </label>
	<input style="" type="text" formControlName="name" id="name"><br>
	Gender:
	<label *ngFor="let gender of genders">
		<input type="radio" formControlName="group" [value]="gender">{{gender}}
	</label><br>
	<label for="color">Color: </label>
	<input type="text" formControlName="color" id="color"><br>
	<label for="size">Size: </label>
	<input type="number" formControlName="size" id="size"><br>
	<label for="price">Price: $</label>
	<input type="number" formControlName="price" id="price"><br>
	Sale:
	<select formControlName="sale"> 
		<option value="yes">Yes</option>
		<option value="no">No</option>
	</select>
	<div class="row">
		<div class="col-6-md">
			<label for="imageUrl">Image URL: </label>
			<input type="text" formControlName="imageUrl" id="imageUrl" #imageUrl><br>
			<img class="img-responsive" [src]="imageUrl.value" style="max-height: 300px">
		</div>
		<div class="col-6-md" style="margin-left : 20px">
			<label for="imageHoverUrl">Image Hover URL: </label>
			<input type="text" formControlName="imageHoverUrl" id="imageHoverUrl" #imageHoverUrl><br>
			<img class="img-responsive" [src]="imageHoverUrl.value" style="max-height: 300px">
		</div>
	</div>
</form>
